@@if (page === 'all') {
  <li class="card" data-card="1" id="card_1">
    <span class="card__span">
      <svg class=" card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      5,0
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating1_320.webp">
      <img src="@img/rating1.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван кожаный “R&#8209;94”</h3>
      <span class="card__cost">94 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all') {
  <li class="card" data-card="2">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,9
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating2_320.webp">
      <img src="@img/rating2.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван апартековый “T&#8209;75”</h3>
      <span class="card__cost">69 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all') {
  <li class="card" data-card="3">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,8
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating3_320.webp">
      <img src="@img/rating3.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван тканевый “D&#8209;31”</h3>
      <span class="card__cost">28 490 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all') {
  <li class="card" data-card="4">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,8
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating4_320.webp">
      <img src="@img/rating4.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван велюровый “Y&#8209;68”</h3>
      <span class="card__cost">22 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all') {
  <li class="card" data-card="5">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,8
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating5_320.webp">
      <img src="@img/rating5.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван из&nbsp;шинила “W&#8209;95”</h3>
      <span class="card__cost">22 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all') {
  <li class="card" data-card="6">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,8
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating6_320.webp">
      <img src="@img/rating6.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван флоковый “G&#8209;41”</h3>
      <span class="card__cost">17 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all' || page === 'simalar') {
  <li class="card" data-card="7">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,8
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating7_320.webp">
      <img src="@img/rating7.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван шиниловый “V&#8209;43”</h3>
      <span class="card__cost">19 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all') {
  <li class="card" data-card="8">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,7
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating8_320.webp">
      <img src="@img/rating8.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content card__content">
      <h3 class="card__name card-name">Диван велюровый “S&#8209;99”</h3>
      <span class="card__cost card__cost">19 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all') {
  <li class="card" data-card="9">
    <span class="card__span card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,7
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating9_320.webp">
      <img src="@img/rating9.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content card__content">
      <h3 class="card__name card-name">Диван из кожзама “F&#8209;85”</h3>
      <span class="card__cost card__cost">26 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all') {
  <li class="card" data-card="10">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,6
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating10_320.webp">
      <img src="@img/rating10.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван флоковый “H&#8209;64”</h3>
      <span class="card__cost">25 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all' || page === 'simalar') {
  <li class="card" data-card="11">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,6
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating11_320.webp">
      <img src="@img/rating11.webp" alt="Изображение товара" class="card__img card__img-11">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван флоковый “H&#8209;58”</h3>
      <span class="card__cost">23 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all') {
  <li class="card" data-card="12">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,6
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating12_320.webp">
      <img src="@img/rating12.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван из кожзама “R&#8209;43”</h3>
      <span class="card__cost">33 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all') {
  <li class="card" data-card="13">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,6
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating13_320.webp">
      <img src="@img/rating13.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван из шинила “С&#8209;42”</h3>
      <span class="card__cost">18 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all') {
  <li class="card" data-card="14">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,6
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating14_320.webp">
      <img src="@img/rating14.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван велюровый “U&#8209;58”</h3>
      <span class="card__cost">21 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all') {
  <li class="card" data-card="15">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,5
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating15_320.webp">
      <img src="@img/rating15.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван флоковый “F&#8209;41”</h3>
      <span class="card__cost">17 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all' || page === 'simalar') {
  <li class="card" data-card="16">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,5
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating16_320.webp">
      <img src="@img/rating16.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван велюровый “R&#8209;85”</h3>
      <span class="card__cost">34 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all' || page === 'simalar') {
  <li class="card" data-card="17">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,5
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating17_320.webp">
      <img src="@img/rating17.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван велюровый “S&#8209;44”</h3>
      <span class="card__cost">19 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
@@if (page === 'all' || page === 'simalar' ) {
  <li class="card" data-card="18">
    <span class="card__span">
      <svg class="card__span-svg">
        <use class="card__span-svg-use" xlink:href="#star"></use>
      </svg>
      4,4
    </span>
    <picture>
      <source media="(max-width: 320px)" srcset="@img/rating18_320.webp">
      <img src="@img/rating18.webp" alt="Изображение товара" class="card__img">
    </picture>
    <div class="card__content">
      <h3 class="card__name card-name">Диван из шинила “С&#8209;80”</h3>
      <span class="card__cost">20 990 руб</span>
      <a href="productPage.html" class="card__btn btn btn-icon btn-type-2">Купить</a>
    </div>
  </li>
}
