//Colors

$color-background: #F6F6F6;
$color-none: rgba(0, 0, 0, 0);
$color-highlight: #FF862F;
$color-text: #333333;
$color-main: #A65CF0;
$color-border: #F6F6F6;
$color-addtext: #999999;
$color-light: #FFFFFF;
$color-main-light: #C998FB;
$color-focus: #EBD1FF;
$color-active: #7033AC;
$color-phone-hover: #FFBD59;
$color-phone-active: #BB370E;
$color-phone-focuse: #FFF5D1;
$color-background-dark: #EAEAEA;
$color-background-focus: #F8EFFF;
$color-cost: #666666;
$color-baner: #D5B986;
$color-true: #B8EC64;
//Color for select arrow

$url-color-background: F6F6F6;
$url-color-none: rgba(0, 0, 0, 0);
$url-color-highlight: FF862F;
$url-color-text: 333333;
$url-color-main: A65CF0;
$url-color-border: F6F6F6;
$url-color-addtext: 999999;
$url-color-light: FFFFFF;
$url-color-main-light: C998FB;
$url-color-focus: EBD1FF;
$url-color-active: 7033AC;
//Breakpoints

$breakepoint-first: 1024px;
$breakepoint-second: 920px;
$breakepoint-third: 610px;
$breakepoint-xs: 320px;

//Product page
$gap: 32px;
